@import "../../stylesheets/color-string-constants.scss";

.AlbumContainer {
  width: 9.5rem;
  height: fit-content;
  border-radius: 8px;
  display: flex;
  cursor: pointer;

  img {
    left: 4px;
    border-radius: 15px;
    padding: 0.4rem;
  }
  p {
    color: $white;
    max-width: 9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 1px;
    margin-left: 6px;
    text-align: left;
  }

  #para {
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
    text-align: left;
    font-size: 0.8rem;
  }

  .albumImageSection {
    display: flex;
    position: relative;

    #albumLogo {
      position: absolute;
      background: none;
      border: none;
      padding: 0.8rem;
      color: white;
    }

    #playNowAlbum {
      position: absolute;
      right: 0;
      height: 2.5rem;
      width: 2.5rem;
      opacity: 0;
      background: $green;
      border: none;
      border-radius: 20px;
      font-size: 1rem;
      cursor: pointer;
      transition: 0.3s;
      bottom: -1rem;
    }

    #playNowAlbum:hover {
      scale: 1.2;
    }
  }
}

.cardContainer {
  width: 10.5rem;
  height: fit-content;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.404);
}

.cardContainer:hover {
  background: rgba(128, 128, 128, 0.226);

  #playNowAlbum {
    margin-top: 6.5rem;
    opacity: 1;
    bottom: 0.9rem;
  }
}
