@import "../../stylesheets/color-string-constants.scss";

.SuggestionComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0,0%,100%,.1);
  height: 4.4rem;
  width: 30rem;
  border-radius: 5px;
  cursor: pointer;

  img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  p {
    color: $white;
    font-weight: 600;
    position: absolute;
    padding: 5.1rem;
  }

  Button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: none;
    margin-right: 0.7rem;
    opacity: 0;
    cursor: pointer;
  }
  Button:hover {
    scale: 1.1;
  }
}

.SuggestionComponent:hover {
  background-color: hsla(0, 0%, 100%, 0.205);
  Button {
    opacity: 1;
  }
}
