@import "../../stylesheets/color-string-constants.scss";

.YourLibrary {
  width: 100%;
  .yourlibrary {
    // background-color: rgba(184, 181, 181, 0.87);
    display: block;
    background: rgba(211, 211, 211, 0.842);
    padding: 1rem 12px;
    border-radius: 10px;
    .chevrons {
      color: rgba(255, 255, 255, 0.795);
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.63);
    }

    .LibraryTop {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
