@import "../../stylesheets/color-string-constants.scss";

.Homepage {
  background: linear-gradient(rgb(5, 5, 104), rgb(13, 16, 46));
  padding-top: 16px;
  border-radius: 15px;
  scroll-behavior: auto;

  .homepageTop {
    display: flex;
    justify-content: space-between;
    .navigationButtons {
      display: flex;
      gap: 0.5rem;
      Button {
        color: rgba(255, 255, 255, 0.63);
        font-weight: 200;
        background-color: rgba(0, 0, 0, 0.507);
        border: none;
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
        border-radius: 5rem;
        cursor: not-allowed;
      }
    }
  }

  .homepageTopRightActions {
    display: flex;
    gap: 0.3rem;
    margin-right: 0.7rem;
    Button {
      padding: 0.5rem;
      border-radius: 15px;
      border: none;
      height: 2rem;
      font-size: 0.8rem;
      font-weight: 600;
      background: $white;
      color: #000000;
      cursor: pointer;
    }
    Button:hover {
      scale: 1.1;
    }

    #installApp {
      background: #000000;
      color: $white;
      i {
        margin-right: 5px;
      }
    }
    #rightActions {
      background: #000000;
      color: $white;
    }
  }

  .homepageHeader {
    padding: 1rem;
    h1 {
      color: $white;
    }

    .suggestions {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-evenly;
    }
  }

  .albumsContainer {
    padding: 1.2rem;
    
    h1 {
      color: $white;
    }

    .showAll {
      color: rgb(128, 128, 128);
      cursor: pointer;
    }

    .showAll:hover{
      text-decoration: underline;
    }

    .albumContainerheader {
      display: flex;
      place-items: center;
      justify-content: space-between;
    }
  }
  .displayingSection{
    display: flex;
    gap: 2.7rem;
  }
}
