@import "../../stylesheets/color-string-constants.scss";

.Sidebar {
  height: 88vh;
  width: 20rem;
  border: 2px solid black;
  background: $black-background;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  gap: 2rem;
  Button {
    cursor: pointer;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: $white;
  gap: 0.7rem;
  margin-left: 0.7rem;
  i {
    font-size: 3.3rem;
  }
}
.sidebar-container {
  gap: 1rem;
  font-size: 1.3rem;
  line-height: 2rem;
  h3 {
    color: $white;
    margin: 0.7rem;
    padding: 0rem 0.7rem;
  }
  .active {
    background: $light-grey;
    border-radius: 5px;
  }
}

// .sidebar-install-app {
//   font-size: 1.5rem;

//   i {
//     color: $white;
//     margin-right: 2rem;
//   }

//   a {
//     text-decoration: none;
//     color: $white;
//   }
// }
